#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* Contenedor principal */
.container {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

/* Título */
h1 {
  color: #3498db;
}

/* Subtítulos */
h2 {
  color: #3d7aa2;
}

.contenedor-izquierda {
  text-align: left;
}

/* Selector de fuentes */
div > div {
  margin-top: 20px;
}

label {
  margin-right: 10px;
  color: #000000;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Cuadro de texto con información */
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #333;
  background-color: #ecf0f1;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  grid-template-rows: repeat(2, 1fr); /* Dos filas de igual tamaño */
  gap: 10px; /* Espacio entre elementos */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  div {
    flex-direction: column;
    align-items: stretch;
  }

  label,
  input,
  select,
  button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
